.top-container {
  height: 100vh;
  background-color: hsl(228, 5%, 37%);
  padding: 5rem;
  box-sizing: border-box;
  color: white;
}

.parent {
  background-image: url("./images/Blog-Image.png");
  box-shadow: 2px 20px 50px #0b0c11;
  border-radius: 10px;
}

.child-container {
  background-image: linear-gradient(
    to bottom right,
    hsl(228, 5%, 37%),
    #9c9da2
  );
  height: 80vh;
  opacity: 0.9;
  border-radius: 10px;
}

.nav-item {
  margin-top: 0.3rem;
  margin-left: 0.5rem;
}

.btn {
  color: #fff;
  border-color: #fff;
}
